ul.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 2em;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #dc143c;
    color: white;
    border: 1px solid #dc143c;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}